/* ===== Three.js Canvas Styles ===== */
#viewer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

}

#viewer-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
